.arrow {
  margin-top: 40px;
  font-size: 5px;
}

.arrow:after {
  content: " ";
  position: absolute;
  right: 80px;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid black;
}
